.cv-preview{
  width: 556px;
  height: 786px;
  background-color: rgba(255, 255, 255, 0.966);
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.39);
}
.header{
  padding: 32px;
  /* background-color: rgba(0, 0, 0, 0.935); */
  background: linear-gradient(to right, #29f39cd7, #02a2f9c5);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.header .name{
  font-size: 1.3rem;
  font-weight: bold;
}
.main-content{
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.preview{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
h3{
  border-bottom: solid 2px;
  border-image: linear-gradient(45deg, #29F39B, #02A1F9) 1;
}
.location{
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6);
}
.descr{
  font-size: 0.8rem;
}
.duration{
  font-size: 0.9rem;
}
.skills-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skill {
  position: relative;
  display: inline-block;
  padding: 12px 18px;
  border-radius: 12px;
  background: linear-gradient(45deg, #29F39B, #02A1F9);
  font-size: 1rem;
  color: black;
  z-index: 0;
}
.skill::before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  z-index: -1;
}
